---
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";

const experiences = [
  {
    title: "AI Engineer Intern - Delft Imaging",
    date: "May 2025 - Dec 2025",
    desc: [
      "Designed a distributed ML pipeline for medical image analysis, reducing communication and computation by up to 40%.",
      "Applied model optimization to achieve 3x faster CPU inference on edge devices."
    ],
    tech: ["PyTorch", "W&B", "ONNX", "Prometheus", "Docker", "Linux", "Python"]
  },
  {
    title: "Junior Data Engineer (Part-time) - Greencaravan",
    date: "Dec 2023 - Dec 2025",
    desc: [
      "Automated cloud infrastructure deployment with IaC to reduce manual setup effort.",
      "Built serverless APIs to integrate EV charging data for downstream analytics and optimization.",
      "Developed a KPI analytics pipeline for real-time user health monitoring."
    ],
    tech: ["AWS CDK", "Lambda", "API Gateway", "EventBridge", "MySQL", "InfluxDB", "Grafana"]
  },
  {
    title: "Software Engineering Intern - ASML",
    date: "Feb 2023 - Jun 2023",
    desc: [
      "Built a full-stack monitoring app to ingest, store, and visualize KPIs in real time.",
      "Reduced manual monitoring time by up to 70%."
    ],
    tech: ["FastAPI", "InfluxDB", "Grafana", "Docker", "Linux", "Python"]
  }
];
---

<!DOCTYPE html>
<html>
  <Header title="Experience | Nam" />
  <body>
    <div class="content">
      <Sidebar selectedItem="experience" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Experience</h1>
            <section class="items-container">
              <div class="resouce-items">
                {experiences.map((item) => (
                  <Project title={item.title} date={item.date} desc={item.desc} tech={item.tech} />
                ))}
              </div>
            </section>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
