---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";

const { title, pubDate } = Astro.props;
const dateLabel = pubDate
  ? new Date(pubDate).toLocaleDateString("en-US", {
      month: "long",
      day: "2-digit",
      year: "numeric"
    })
  : "";
---

<!DOCTYPE html>
<html>
  <Header title={`${title} | Nguyen Nguyen`} />
  <body>
    <div class="content">
      <Sidebar selectedItem="notes" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/notes" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>{title}</h1>
            {dateLabel && <div class="mini-label-white">{dateLabel}</div>}
            <div class="project-desc w-richtext">
              <slot />
            </div>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
